.main {
  margin-top: 150px;
  .form-field {
    min-width: 200px;
    width: 100%;
  }

  mat-card {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto!important;
  }

  mat-icon.copy-icon {
    cursor: pointer;
    margin-left: 12px;
    width: 24px!important;
    height: 24px!important;
    font-size: 24px!important;
    position: relative;
    top: 6px;
  }

  .success-box {
    line-height: 3;
    margin-top: 16px;
    background: #35D5AB;
    padding: 8px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;

    .link {
      color: #ffffff;
    }
  }
}
